<div id="page-info">
    <%= page_entries_info @cards %>
</div>
<div id="cards">
    <% @cards.each do |card| %>
        <div class="card">
            <div class="head">
                Q. <%= card.head %>
            </div>
            <div class="tail">
                A. <%= card.tail %>
            </div>
        </div>
    <% end %>
</div>
<div id="pagination">
    <%= paginate @cards, window: 5 %>
</div>
