<div id="page-info">
    <%= page_entries_info @cards %>
</div>
<div id="cards">
    <% @cards.each do |card| %>
        <div class="card">
            <div class="head">
                <%= simple_format(card.head) %>
            </div>
            <div class="tail">
                <pre><%#= simple_format(card.tail) %><%= card.tail %></pre>
            </div>
        </div>
    <% end %>
</div>
<div id="pagination">
    <%= paginate @cards, window: 5 %>
</div>
