<nav>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#create-card" data-toggle="tab">Create</a>
        </li>
        <li role="presentation">
            <a href="#import-card" data-toggle="tab">Import</a>
        </li>
    </ul>
</nav>
<div class="tab-content">
    <div id="create-card" class="tab-pane fade in active">
        <%= render 'form' %>
    </div>
    <div id="import-card" class="tab-pane fade">
        <%= form_tag confirm_cards_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag :import %>
        <% end %>
    </div>
</div>
