// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.container {
    // cards#index
    div#filter-and-sort {
        padding: 0;
        margin-bottom: 15px;
        text-align: right;
        div.dropdown-menu {
            min-width: 70%;
        }
        div#filter-body {
            padding:15px;
            div.field {
                margin-bottom:15px;
                &:last-child {
                    margin-bottom: 0;
                }
                .label {
                    display: block;
                }
            }
        }
        div#filter-footer {
            padding: 10px 15px;
            text-align: right;
            border-top: 1px solid #e5e5e5;
        }
    }
    div#cards {
        font-size: 1.2em;

        div.card {
            border: 1px solid #cccccc;
            margin-bottom: 10px;
            background: #fff;

            div.card-body {
                padding: 15px;
                div.head, div.tail {
                    overflow: hidden;
                    word-break:break-all
                }
                div.head {
                    margin-bottom: 5px;
                }
                div.tail {
                    background: #f8f8f8;
                    border: 1px solid #cccccc;
                    padding: 10px;
                    font-family: 'Inconsolata';
                    p,ul {
                        font-size: 80%;
                    }
                    thead > tr {
                        border-bottom: 1px solid #cccccc;
                    }
                    td {
                        padding: 2px 5px;
                    }
                    img {
                        display: block;
                        max-width: 100%;
                        height: auto;
                    }
                }
                div.tags {
                    font-size: 70%;
                    margin-bottom: 5px;
                    li {
                        padding: 0px 5px;
                        color: #acacac;
                        font-weight: bold;
                        background: #ffffff;
                        border: 1px solid #acacac;
                        border-radius: 2px;
                    }
                }
            }
            div.card-footer {
                font-size: 70%;
                padding: 5px 15px;
                border-top: 1px solid #cccccc;
                ul {
                    text-align: right;
                    li {
                        padding: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    div#page-info {
        margin-bottom: 15px;
        text-align: right;
    }

    div#pagination {
        text-align: center;
    }

    div.confirm-message {
        padding: 0 0 15px 0;
    }

    table {
        tr.table-header {
            background-color: #f8f8f8;
        }
    }

    // cards#show
    div#card {
        div.card-item {
            display: flex;
            padding: 15px 0;
            border-bottom: 1px solid #cccccc;
            &:first-child {
                border-top: 1px solid #cccccc;
            }
            div.left {
                width: 30%;
                font-weight: bold;
            }
            div.right {
                width: 70%;
                overflow: hidden;
                word-break:break-all
            }
        }
        div.actions {
            margin-top: 15px;
        }
    }

    // cards#new
    nav {
        li.active a {
            background-color: #fbfbfb !important;
            font-weight: bold;
        }
    }
    div.tab-content {
        padding-top: 10px;
        div#card-form, div#card-import-form {
            div.field {
                margin-bottom: 10px;
                input[type="text"],textarea {
                    width: 100%;
                    padding: 5px 6px;
                    border: 1px solid #cccccc;
                    font-family: 'Inconsolata';
                    border-radius: 2px;
                }
                textarea.head {
                    min-height: 80px;
                }
                textarea.tail {
                    min-height: 150px;
                }
                textarea.memo {
                    min-height: 100px;
                }
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: #ffffff;
                    width: 100%;
                    padding: 5px 6px;
                    border-radius: 2px;
                    border: 1px solid #cccccc;
                    font-size: 80%;
                }
                label {
                    display: block;
                }
            }
        }
    }
}
