// Place all the styles related to the card controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.container {
    div#cards {
        font-size: 1.2em;
        div.card {
            padding: 20px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }
    }
    div#pagination {
        text-align: center;
    }
}
