// cards#index
div#deck {
    background: #333;
    h2 {
        margin: 25px 0;
        a {
            color: #fff;
        }
        span {
            font-size: 50%;
            color: #ccc;
        }
    }
}

div#actions {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #eeeee3;
    nav {
        ul {
            display: flex;
            list-style-type: none;
            li {
                width: 50%;
                text-align: center;
                padding: 10px 0;
                border-left: 1px solid #ccc;
                a {
                    display: block;
                    width: 100%;
                }
                &:last-child {
                    border-right: 1px solid #ccc;
                }
            }
            li.active {
                background: #fdfdfe;
                border-bottom: 1px solid #fdfdfe;
                font-weight: bold;
                position: relative;
                top: 1px;
            }
        }
    }
}

div.front, div.back {
    overflow: hidden;
    word-break: break-all;
    padding: 15px;
}

div.front {
    background: #fff;
    display: block;
}

div.back {
    background: #eee;
    ul {
        margin-left: 20px;
    }
    p,ul,ol {
        font-size: 80%;
    }
    thead > tr {
        border-bottom: 1px solid #cccccc;
    }
    td {
        padding: 2px 5px;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 5px 0;
    }
}

div#cards {
    font-size: 1.2em;
    background: #fdfdfe;
    div#cards-inner {
        padding-top:10px;

        div#filter-and-sort {
            margin-bottom: 10px;
            text-align: right;
            a#d-label1 {
                font-size: 80%;
            }
            div.dropdown-menu {
                min-width: 70%;
            }
            div#filter-body {
                padding:15px;
                div.field {
                    margin-bottom:15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .label {
                        display: block;
                    }
                }
            }
            div#filter-footer {
                padding: 10px 15px;
                text-align: right;
                border-top: 1px solid #e5e5e5;
            }
        }

        div.card, div.expanded-card {
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        div.card {
            perspective: 800;
            transform-style: preserve-3d;
            transition: 0.3s;
            div.face {
                backface-visibility: hidden;
            }
            div.front {
                position: relative;
                div.status {
                    font-size: 70%;
                    text-align: right;
                    color: #a2a2a2;
                    cursor: pointer;
                    span {
                        font-weight: bold;
                    }
                    .learned { color: #39aa56; }
                    .not-learned { color: #a2a2a2; }
                }
            }
            div.back {
                transform: rotateY(180deg);
                display:none;
            }
        }

        div.expanded-card {
            div.front, div.back {
                border-bottom: 1px solid #ccc;
            }
            div.card-info {
                background: #f8f8f8;
                ul {
                    list-style-type: none;
                    display: flex;
                    li {
                        font-size: 80%;
                        padding: 5px 0;
                        width: 100%;
                        text-align: center;
                        border-right: 1px solid #ccc;
                        &:last-child { border-right: none; }
                    }
                    li.fav {
                        i.favorited {
                            font-weight: bold;
                            color: #FDCF04;
                        }
                    }
                    li.status {
                        .learned { color: #39aa56; }
                        .not-learned { color: #a2a2a2; }
                    }
                }
            }
        }

        div.card.flipped {
            transform: rotatey(180deg);
            .front {
                display: none;
            }
            .back {
                display: block;
            }
        }
    }
}

div#page-info {
    margin-bottom: 15px;
    text-align: right;
}

div#pagination {
    text-align: center;
}

div.confirm-message {
    padding: 0 0 15px 0;
}

table {
    tr.table-header {
        background-color: #f8f8f8;
    }
}

// cards#new
div#new-cards {
    margin-top: 15px;
    div#new-cards-inner {
        nav {
            li.active a {
                background-color: #fbfbfb !important;
                font-weight: bold;
            }
        }

        div.tab-content {
            padding-top: 10px;
            div#card-form, div#card-import-form {
                div.field {
                    margin-bottom: 10px;
                    input[type="text"],textarea {
                        width: 100%;
                        font-family: 'Inconsolata';
                    }
                    textarea {
                        padding: 5px 6px;
                        border: 1px solid #aaa;
                        border-radius: 4px;
                    }
                    textarea.front {
                        min-height: 80px;
                    }
                    textarea.back {
                        min-height: 150px;
                    }
                    select {
                        appearance: none;
                        background: #ffffff;
                        width: 100%;
                        padding: 5px 6px;
                        border-radius: 2px;
                        border: 1px solid #cccccc;
                        font-size: 80%;
                    }
                    label.required-entity {
                        &:after {
                            color: red;
                            content: " *"
                        }
                    }
                }
            }
        }
    }
}

// cards#confirm
div#confirm-cards {
    div#confirm-cards-inner {
        div#import-cards {
            tr.table-header {
                background: #eee;
            }

            tr {
                background: #fff;
            }
        }
    }
}
